@font-face{
	font-family: "Bebas";
	src: url("..//fonts/Bebas.ttf");
}
*{
	transition: all 500ms ease;
font-family: "Bebas";
text-decoration: none;
}
body{
	margin: 0;
}
header {
width: 100%;
height: 50px;
background-color: black;

}
header img{
float:left ;
width: 40px;
height: 40px;
border-radius: 50%;
margin-top: 5px;
}
header a{
margin: -4px;
font-size: 35px;
color: white;
margin-left: 50px;
}
.center {
	width: 1105px;
	margin: 10px;
	text-align: center;
	margin: auto;
}
.center-body {
	width: 900px;
	text-align: center;
	margin: auto;
}

.slider input{
display: none;
}
.slider {
	width: 500px;
    height: 315px;
    margin: auto;
    position: relative;
    top: 340px;

}

.controls label {
      display: inline-block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0px 5px;
    border: 3px solid #000000;
    background-color: #5c5c5c;
    position: relative;
    bottom: 449px;

  }
.controls{
background-color: black;
    border-radius: 50px;
    position: relative;
    top: 246px;
    height: 20px;
}
#btn1:checked ~ .controls label[for="btn1"],
#btn2:checked ~ .controls label[for="btn2"], 
#btn3:checked ~ .controls label[for="btn3"] 
{
background-color: white;
}
.slides{
	width: 200px;
	height: 100px;
	opacity: 0;
	z-index: 0;
	position: absolute;
}
#btn1:checked ~ .slides-block .slide1,
#btn2:checked ~ .slides-block .slide2,
#btn3:checked ~ .slides-block .slide3
{
opacity: 1;
z-index: 1;
}

.slide1 img{width: 600px; right: 54px; height: 225px; position: relative;}
.slide2 img{width: 600px; right: 54px; height: 225px; position: relative;}
.slide3 img{width: 600px; right: 54px; height: 225px; position: relative;}

.choise{
width: 900px;
    margin: 92px;
    font-size: 30px;
    margin: auto;
}


.choise input{
	width: 200px;
	height: 20px;
	margin-left: 10px;
}
.about{
	float: left;
    text-align: center;
    width: 900px;
    font-size: 30px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.about img{
	border-radius: 100%;
}
.about-text
{
	width: 100px;
}
.reviews{
width: 900px;
margin-top: 440px;
color: white;
font-size: 35px;
}
.reviews-box
{
	text-align: initial;
	background-color: black;
	border-radius: 5px;
	margin-top: 10px;
	 padding: 10px;
}
.reviews-box img{
	border-radius: 100%;
    float: left;
    height: 100px;
    margin: 6px;

}



@keyframes scroller{

0% {
     background-position: 0px 0px;
}

100% {
    background-position: 0px 222px;
}

}


.accion{
    margin: auto;
    top: 100px;
    position: relative;
    height: 10px;
    width: 950px;
    display: flex;
    margin-bottom: 800px;

}

.ac1{
	background-image: url("..//img/ac1.png");
	width: 207px;
	background-size: auto 37%;
	height: 600px;
	float: left;
	animation: scroller 3s linear infinite;
	border: 6px solid;
	margin-right: 9px;
}
.ac2{
	background-image: url("..//img/ac2.png");
	height: 600px;
	width: 207px;
	background-size: auto 37%;
	float: left;
	animation: scroller 3s linear infinite;
	border: 6px solid;
	margin-right: 9px;
}
.ac3{
	background-image: url("..//img/ac3.png");
	height: 600px;
	background-size: auto 37%;
	width: 207px;
	float: left;
	animation: scroller 3s linear infinite;
	border: 6px solid;
	margin-right: 9px;
}
.ac4{
	background-image: url("..//img/ac4.png");
	height: 600px;
	width: 207px;
	animation: scroller 3s linear infinite;
	background-size: auto 37%;
	float: left;
	border: 6px solid;
	margin-right: 9px;
}

.ac1:hover{
	width: 250px;
	height: 650px;
	background-image: url("..//img/sale.png");
	animation: scroller 0s linear infinite;
	background-size: auto 100%;
}
.ac2:hover{
	width: 250px;
	height: 650px;
	background-image: url("..//img/cashback.png");
	animation: scroller 0s linear infinite;
	background-size: auto 100%;
}
.ac3:hover{
	width: 250px;
	height: 650px;
	background-image: url("..//img/secondfree.png");
	animation: scroller 0s linear infinite;
	background-size: auto 100%;
}
.ac4:hover{
	width: 250px;
	height: 650px;
	background-image: url("..//img/guide.png");
	animation: scroller 0s linear infinite;
	background-size: auto 100%;
}


.ac4:hover background-image{
	filter: blur(5px);
}

.objective
{
	margin-top: 100px;
	font-size: 100px;
}
.objective-small{
	font-size: 30px;
}
footer{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 30px;
}
